# dependencies
node_modules
**/node_modules
.pnpm-store/
.pnp.*

# testing
coverage
**/coverage

# production
dist
**/dist
build
**/build

# TypeScript
*.tsbuildinfo
**/*.tsbuildinfo
.ts-node

# misc
.DS_Store
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# temporary files
tmp/
**/tmp/